<div *ngFor="let item of formsData">
  <div class="card my-2 mx-1 " role="button" (click)="onItemClick(item)">
    <div class="card-body">
      <h5 class="card-title">{{ item.type }}</h5>
      <!-- Display additional small data here based on the item type -->
      <p class="card-text" *ngIf="item.type === 'initiation'">Project Title: {{ item.projectTitle }}</p>
      <p class="card-text" *ngIf="item.type === 'requirements'">Introduction: {{ item.introduction }}</p>
      <p class="card-text" *ngIf="item.type === 'design'">File Count: {{ item.fileGroups.length }}</p>
    </div>
  </div>
</div>