<nav class="navbar navbar-expand-lg navbar-light bg-light container-lg">
  <a class="navbar-brand" href="#">Documentation System</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"> <!-- Align menu to the right -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="">SDLC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/files">All Files</a>
      </li>
    </ul>
  </div>
</nav>